# Mengabaikan folder environment Python
venv/
env/
.venv/

# ml runs
data_training/mlruns/
data_training/dataset_polutan_jatim.csv

# Mengabaikan model lokal karena sudah diurus MLflow DagsHub
# *.pkl

# .env
.env

# Mengabaikan file cache Python
__pycache__/
*.pyc
*.py[cod]

# Mengabaikan file database lokal (opsional, tapi disarankan)
*.db
*.sqlite3

# Mengabaikan file konfigurasi VS Code
.vscode/

# Mengabaikan DVC
.dvc/config.local

# MLflow local leftovers
mlruns/
mlflow.db
get_host_info.js